.container {
    width: 100%;
    height: 100vh;
  }
  
  .wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
  }
  
  .left {
    display: flex;
    justify-content: flex-start;
    padding-left: 4rem /* 64px */;
    padding-right: 4rem /* 64px */;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin-top: 5rem /* 96px */;
  }
  
  .glassWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 4rem 1rem;
      max-height: 70%;
  }
  .brandNameWrapper {
    display: flex;
  }
  
  .article {
    font-size: 4rem /* 60px */;
    line-height: 1;
    color: var(--red);
    font-weight: 800;
  }
  
  .brandName {
    font-size: 2rem /* 14px */;
    line-height: 1.7rem /* 20px */;
    color: var(--green10);
    align-self: center;
  }
  
  .title {
    margin-top: 2rem;
    margin-bottom:0.5rem;
    font-size: 3rem ;
    line-height: 2.7rem;
    font-weight: 500;
    color: var(--white10);
  }
  
  .subTitle {
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    color: var(--grey20);
    font-weight: 200;
  }
  
  .playBtnWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
  
 
  
  .bannerImg {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    --tw-gradient-stops: var(--tw-gradient-from),
      var(--tw-gradient-to, rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, var(--tw-gradient-stops));
    --tw-gradient-from: var(--black);
    background-size: cover;
    background-position: "50% 50%";
  }
  
  .button {
     
      margin-top: 1rem;
      position: relative;
      background: var(--grey40);
      color: var(--white10);
      text-decoration: none;
      text-transform: uppercase;
      border: none;
      letter-spacing: 0.1rem;
      font-size: 1rem;
      padding: 1rem 3rem;
      transition: 0.2s;
    }
    
    .button:hover {
      letter-spacing: 0.2rem;
      padding: 1.1rem 3.1rem;
      background: rgba(110, 231, 183, 0.4);
      color: var(--green10);
      /* box-shadow: 0 0 35px var(--clr); */
      animation: box 3s infinite;
    }
    
    .button::before {
      content: "";
      position: absolute;
      inset: 2px;
      background: var(--grey40);
      color: var(--grey40);
    }
    
    .button span {
      position: relative;
      z-index: 1;
    }
    .button i {
      position: absolute;
      inset: 0;
      display: block;
    }
    
    .button i::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      left: 80%;
      top: -2px;
      border: 2px solid var(--green10);
      background: var(--grey40);
      transition: 0.2s;
    }
    
    .button:hover i::before {
      width: 15px;
      left: 20%;
      animation: move 3s infinite;
    }
    
    .button i::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 2px;
      left: 20%;
      bottom: -2px;
      border: 2px solid var(--green10);
      background: var(--grey40);
      transition: 0.2s;
    }
    
    .button:hover i::after {
      width: 15px;
      left: 80%;
      animation: move 3s infinite;
    }
    
    @keyframes move {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(5px);
      }
      100% {
        transform: translateX(0);
      }
    }
    
    @keyframes box {
      0% {
        box-shadow: var(--grey40);
      }
      50% {
        box-shadow: 0 0 25px var(--green10);
      }
      100% {
        box-shadow: var(--grey40);
      }
    }
    
  
  
  @media (min-width: 768px) {
    .left {
      width: 100%;
    }
  }
  
  @media (min-width: 1024px) {
     .left {
      width: 50%;
      margin-top: 10rem;
     }
    .title {
      font-size: 3.75rem /* 60px */;
      line-height: 1;
    }
  
    .subTitle {
      font-size: 1.5rem /* 24px */;
      line-height: 2rem /* 32px */;
    }
  
    .playText {
      font-size: 1.25rem /* 20px */;
      line-height: 1.75rem /* 28px */;
    }
  }